@page "/"

<ion-page>
<ion-header>
  <ion-toolbar color="primary">
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-text>
    <h1>Hello, world!</h1>
    Welcome to your new app.
  </ion-text>
</ion-content>
</ion-page>