@page "/"

<ion-page>
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <div class="max-width">
      <ion-text>
        <h1>Hello, world!</h1>
        Welcome to your new app.
      </ion-text>
    </div>
</ion-content>
</ion-page>